:root {
  /* global border radius */
  --uc-border-radius: 0px !important;
  --arrowpanel-border-radius: var(--uc-border-radius) !important;
  --tab-border-radius: var(--uc-border-radius) !important;
  --toolbarbutton-border-radius: var(--uc-border-radius) !important;
}

#nav-bar { -moz-box-ordinal-group: 1 !important; }

#PersonalToolbar { -moz-box-ordinal-group:  2 !important; }

#titlebar { -moz-box-ordinal-group: 3 !important; }

/*  disable Tabs bar */
#TabsToolbar { visibility: collapse !important; }

/*  Hide it when urlbar opend  */
#navigator-toolbox #nav-bar[urlbar-exceeds-toolbar-bounds] > #nav-bar-overflow-button {
  visibility: collapse !important;
}

/* Hide back, forward, reload button */
#back-button,
#forward-button
/* #PanelUI-menu-button */
/*#reload-button*/ {
/*   display: none !important; */
  visibility: collapse !important;
}
/* Workaround to hide panel menu button */
#PanelUI-button {
    position: fixed;
    top: 28px;
    right: 0px;
}
#appMenu-notification-popup {visibility: visible !important;}
#PanelUI-menu-button {
  padding: 0 !important;
}

/* Show dark shade under urlbar */
#urlbar[open] {
  background: #393532 !important;
  box-shadow: 0 0 0 200vh #0000009f !important;
}

/* Autohide search bar */
#main-window:not([customizing]) #navigator-toolbox:not(:focus-within) {
  margin-top: -31px;
}

/* Animatin showing/hidding search bar */
#navigator-toolbox { transition:0.09s margin-top ease-out; }

window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#nav-bar {
  -moz-appearance: none !important;
  border: none !important;
  border: none !important;
  box-shadow: none !important;
  background: #111 !important;
}

#nav-bar,
  #nav-bar-customization-target,
  #urlbar-container,
  /* #urlbar, */
  #nav-bar-overflow-button {
  padding-block: 0 !important;
  margin-block: 0 !important;
  padding: 0 !important;
   margin: 0 !important;
  max-height: 34px !important;
  /* background:  #2d333b !important;*/
}

#urlbar {
  padding-block: 0 !important;
  margin-block: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

#nav-bar {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

/* Remove border below whole nav */
#navigator-toolbox {
  border-bottom: none !important;
}
#urlbar-input-container {
  border: none !important;
  padding: 0 !important;
}
#urlbar,
#urlbar * {
  outline: none !important;
/*   border: 1px solid red !important; */
  border-bottom: none !important;
  border-top: none !important;
/*   box-shadow: none !important; */
/*   background: transparent !important; */
}

#urlbar-background {
  border: transparent !important;
  background: transparent !important;
}

#urlbar[focused="true"] > #urlbar-background,
#urlbar:not([open]) > #urlbar-background {
  background: transparent !important;
  /*   border-radius:  5px  !important; */
}
